<ion-content>
  <br>
  <br>
  <br>
  <div class="login">
    Login
  </div>
  <div style="height: 550px;">
    <div style="justify-content: center; display: flex; align-items: center;">
      <form #form="ngForm">
        <ion-item lines="full">
          <ion-label position="floating">Username</ion-label>
          <ion-input type="email" required="required" name="login_email" #email="ngModel"
            [(ngModel)]="login_email"></ion-input>
        </ion-item>
        <p *ngIf="email.errors && email.dirty" style="color: red; font-size: 12px;">This field is required!</p>

        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required="required" name="login_password" #password="ngModel" minlength="5"
            maxlength="12" [(ngModel)]="login_password"></ion-input>
        </ion-item>
        <p *ngIf="password.errors && password.dirty" style="color: red; font-size: 12px;">Password between 5 to 12
          charcters!</p>
        <br>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block" (click)="loginForm(form)" [disabled]="!form.valid"
              [routerLink]="'../menu-page/'">Log In</ion-button>
            <br>
            <br>
            <a class="small-text">Forgot Password?</a>
          </ion-col>
        </ion-row>
        <br>
        <div style="text-align: center;">
          --------------------OR--------------------
          <div>
            <br>
            <span>
              <a href="https://www.google.com/">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"
                  class="icon LRpadding" style="height: 40px;">
              </a>
            </span>
            <span>
              <a href="https://www.facebook.com/">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/facebook/facebook-original.svg"
                  class="icon LRpadding" style="height: 40px;">
              </a>
            </span>
            <span>
              <a href="https://x.com/">
                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968830.png" class="icon LRpadding"
                  style="height: 40px;">
              </a>
            </span>
          </div>
        </div>

      </form>
    </div>
  </div>
</ion-content>